<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT PYTHON</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- SOCKET.IO-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io("192.168.1.8:5000")
            socket.on("connect", function() {
                console.log("Conectado");
            });

            socket.on("message", function(data) {
                $("#lista_mensagens").append($('<p>').text(data));
            });

            $("#botao").on('click', function() {
                socket.send($('#usuario').val() + ": " + $('#mensagem').val());
                $('#mensagem').val('');
            });
        })
    </script>

    <div class="container mt-5">
    <h1 class="mb-4"><span class="text-warning"></span>UOL</span> Chat</h1>
    <div id="lista_mensagens" class="mb-4">
        <!-- Aqui serão exibidas as mensagens -->
    </div>
    <div class="input-group mb-3">
        <input type="text" id="usuario" class="form-control mb-2" placeholder="Usuário" required>
        <input type="text" id="mensagem" class="form-control mb-2" placeholder="Mensagem" required>
        <div class="input-group-append">
            <button class="btn btn-success" id="botao">Enviar</button>
        </div>
    </div>

</body>
</html>